body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin: 0 200px;
}
.nav-tittle{
color:#181818;
font-size: 45px;
font-weight: 800;
}
nav> ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
button{
    border-radius: 5px;
    padding:18px 34px ;
    background-color: #FD6E0A;
    border: none;
    color: white;
   font-size: 20px;
}
.header{
    background-color:#FFF8F3;;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 550px;
height: 620px;
flex-shrink: 0;
}